body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg,#1d2671,#c33764);
    height:100vh;
}

/* Main Card */

.main-card{
    border-radius:25px;
    background:white;
    padding:40px;
    margin-top:60px;
    transition:0.3s;
}

.main-card:hover{
    transform: translateY(-8px);
}

.title{
    font-weight:600;
}

.predict-btn{
    border-radius:12px;
    padding:12px;
    font-size:18px;
}

.result-box{
    background:#f3f6ff;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}

.whatsapp-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}
